/********************/
/* 404 page 
/*******************/
.search-no-results .content-area{
    display: flex;
    padding-top: 3rem;
    margin: 0;
    .site-main{
        margin: 0;
        max-width: 1120px;
        
    }
}
/********************/
/* Search form
/**********************/
.search-results .content-area {
    display: flex;
    padding-top: 3rem;
    margin: 0;
    .site-main{
        margin: 0;
        max-width: 1120px;
        
    }
}
.post-126 .entry-title {
    text-align: left;
}
.search-results  .site-content {
        margin-right: auto;
        margin-left: auto;
        width:1120px;
    }