.page-id-59 {
.site-content {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 1120px;
}
.content-area {
  border-right: 1px solid #e1e1e1;
  padding: 5%;
  width: 73%;
}
}
h2 {
  color:#2f1339
} 
.post-59 .entry-title {
  color: black;
}
.wpcf7-form {
    input[type=email],
    input[type=password],
    input[type=search],
    input[type=text],
    input[type=url] {
        border-radius: 0;
        padding: 6px;
    }
    label {
        text-transform: uppercase;
        font-family: 'novocento';
    }
}

.required {
  color: #d99054;
}