.hero-images {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../images/home-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.site-content {
    /*padding-top: 50px;*/
    margin-left: auto;
    margin-right: auto;
}
.adventures{
  display:flex;
  height: 750px;
  margin: 0 auto;
  width: 90%;
  margin-bottom: 20px;
}
.latest-adventures {
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
}



/*SHOP STUFF*/
 h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  margin-top: 5%;
}
.shop-section {
  display: flex;
  justify-content: space-around;
  margin: 2% 10% 5% 10%;
  padding: 2%;
}
.home .shop-stuff-content {
  margin: 15px;
  width: 365.5px;
  line-height: 1.2rem;
  border: 1px solid #e1e1e1;
  border-top: 3px solid #e1e1e1;
  padding: 1%;
  text-align: center;
  &:hover {
    border-color: #d99054
  }
  img {
    height: 70px;
    width:70px;
  }
  a {
    text-decoration: none;
    background-color:#19625d;
    padding:15px;
    color: white;
    text-transform: uppercase;
  }
  &:hover{
    background-color: #19625d darken, 10%;
    }
}
/*INHABITENT JOURNAL*/
  .home .get-post {
    display: flex;
    margin: 0 5%;
  }
  .post-content {
    margin: 15px;
    width: 365.5px;
    line-height: 1.2rem;
    border: 1px solid #e1e1e1;
      h3 a {
        text-decoration: none;
        color: #19625d;
        text-transform: uppercase;
        &:hover {
          color: black;
        }
      }
      img {
        max-height: 250px;
        border-bottom: 5px solid #e1e1e1;
      }
      a.read {
        text-decoration: none;
        border: 1px solid black;
        padding: 10px;
        color: black;
        text-transform: uppercase;
         &:hover{
           background-color:#19625d;
           border: done;
           color: white;
         }
      }
  }


/*ADVENTURE*/
.adventures {
    display: flex;
    height: 600px;
    margin: 0 auto;
    width: 1120px;
    margin-bottom: 2rem;
    h3 {
        font-weight: normal;
    }
    a {
        text-decoration: none;
        color: white;
        &:visited {
            color: white;
        }
        &:hover {
            color: #f0e4d1
        }
    }
    p a:hover {
        color: white;
    }
}

.latest-adventures {
    line-height: 1.2;
    width: 1120px;
    margin: 0 auto;
    margin-bottom: 5rem;
}

.photo-1 {
    height: 100%;
    width: 50%;
    padding: 1.6rem 2rem;
    background: linear-gradient(rgba(0, 0, 0, .4) 0, rgba(0, 0, 0, .4)), url(../../images/adventure-photos/canoe-girl.jpg) center;
    background-size: cover, cover;
    border-right: solid 10px white;
    font-size: 2.8rem;
}

.photo-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.photo-bottom {
    display: flex;
    width: 100%;
    height: 50%
}

.photo-2 {
    height: 50%;
    width: 100%;
    padding: 1.6rem 2rem;
    background: linear-gradient(rgba(0, 0, 0, .4) 0, rgba(0, 0, 0, .4)), url(../../images/adventure-photos/beach-bonfire.jpg) center;
    background-size: cover, cover;
    border-left: solid 10px white;
    border-bottom: solid 10px white;
    font-size: 2rem;
    p {
        margin: 0;
    }
}

.photo-3 {
    height: 100%;
    width: 50%;
    padding: 1.6rem 2rem;
    background: linear-gradient(rgba(0, 0, 0, .4) 0, rgba(0, 0, 0, .4)), url(../../images/adventure-photos/mountain-hikers.jpg) center;
    background-size: cover, cover;
    border-top: solid 10px white;
    border-left: solid 10px white;
    border-right: solid 10px white;
    font-size: 1.5rem;
}

.photo-4 {
    height: 100%;
    width: 50%;
    padding: 1.6rem 2rem;
    background: linear-gradient(rgba(0, 0, 0, .1) 0, rgba(0, 0, 0, .1)), url(../../images/adventure-photos/night-sky.jpg) center;
    background-size: cover, cover;
    border-left: solid 10px white;
    border-top: solid 10px white;
    font-size: 1.5rem;
}

.read-more {
    padding-left: 3rem;
}

.read-more-button {
    border: 1px solid white;
    font-size: 1rem;
    padding: .8rem 1.2rem;
    text-transform: uppercase;
    &:hover {
        background-color: #19625d;
        border: 1px solid #19625d;
        a:hover {
            color: white;
        }
    }
}

.more-adventures-button {
    margin-top: 1rem;
    font-size: 1rem;
    padding: .8rem 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    background-color: #19625d;
    &:hover {
        background: darken(#19625d, 10%);
        color: white;
    }
    &:visited {
        color: white;
    }
}
