.hero-images {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../images/home-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.adventures{
  display:flex;
  height: 750px;
  margin: 0 auto;
  width: 90%;
  margin-bottom: 20px;
}
.latest-adventures {
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
}

/*SHOP STUFF*/
 h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  margin-top: 5%;
}
.shop-section {
  display: flex;
  justify-content: space-around;
  margin: 2% 10% 5% 10%;
  padding: 2%;
}
.home .shop-stuff-content {
  margin: 15px;
  width: 365.5px;
  line-height: 1.2rem;
  border: 1px solid #e1e1e1;
  border-top: 3px solid #e1e1e1;
  padding: 1%;
  &:hover {
    border-color: #d99054
  }
  img {
    height: 70px;
    width:70px;
  }
  a {
    text-decoration: none;
    background-color:#19625d;
    padding:15px;
    color: white;
    text-transform: uppercase;
  }
  &:hover{
    background-color: #19625d darken, 10%; 
    }
}

/*INHABITENT JOURNAL*/
  .home .get-post {
    display: flex;
    margin: 0 5%;
  }
  .post-content {
    margin: 15px;
    width: 365.5px;
    line-height: 1.2rem;
    border: 1px solid #e1e1e1;
      h3 a {
        text-decoration: none;
        color: #19625d;
        text-transform: uppercase;
        &:hover {
          color: black;
        }
      }
      img {
        max-height: 250px;
        border-bottom: 5px solid #e1e1e1;
      }
      a.read {
        text-decoration: none;
        border: 1px solid black;
        padding: 10px;
        color: black;
        text-transform: uppercase;
         &:hover{
           background-color:#19625d;
           border: done;
           color: white;
         }
      }
  }



.photo-1{
  background-image: url(../../images/adventure-photos/canoe-girl.jpg);
  height: 100%;
  width: 50%;
  padding-left: 3%;
  padding-right: 3%;
  background-size: cover, cover;
  border-right: solid 10px white;
  font-size: 4.6rem;
}

.right-photo {
  width:50%;
  height:100%;
  display: flex;
  flex-wrap:wrap;
}

.photo-2{
  background-image: url(../../images/adventure-photos/beach-bonfire.jpg);
  height: 50%;
  width: 100%;
  background-size: cover, cover;
  border-left: solid 10px white;
  border-bottom: solid 10px white;
}


.photo-3{
  background-image: url(../../images/adventure-photos/mountain-hikers.jpg);
  height: 50%;
  width: 100%;
  background-size: cover,cover;
  border-left: solid 10px white;
  border-bottom: solid 10px white;
}
