h1.site-title {
    background:url(../../images/logos/inhabitent-logo-tent.svg) no-repeat;
    background-size: 50px 33px;
    margin: 0;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 50px;
} 

.site-header {
    background: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid #e1e1e1;
    width: 100%;
    position: fixed;
    z-index: 1;
        .container {
    margin-left: auto;
    margin-right: auto;
    width: 1120px;
    justify-content: space-between;
    text-align: center;
    }
}


/*.main-nav-bar {
    display: inline-block;
}*/
//SITE NAVIGATION//

.main-nav-bar li {
    padding-left: 1rem;
    position: relative;
    display: flex;
}
h1 {
    line-height: 1.25;
}

