
/**********Header Styling (search bar and navigation in different file*********/

.header-background {
    display: flex;
    background: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid #e1e1e1;
    width: 100%;
    position: fixed;
    z-index: 1;
    padding-top: .9rem;
}

.header {
    display: flex;
    height: 50px;
    width: 1120px;
    justify-content: space-between;
    margin: 0 auto;
}

.logo-top {
    height: 50px;
    width: auto;
    padding-bottom: 15px;
}

.main-nav-bar {
    display: inline-block;
    text-transform: uppercase;
}
.main-navigation a {
    padding-left: 1rem;
    color: #248a83;
}
.main-navigation {
    display: flex;
}
.site-header {
    width: 100%;
}
