.blog .content-area {
  display: flex;
  width: 1120px;
  margin: 0 auto;

}
.blog,
.single-post,
.date {
    .type-post {
        width: 73%;
        p {
            width: 740px;
        }
    }
    .site-main {
        border-right: 1px solid #e1e1e1;
        padding-top: 2.3rem;
    }
    .type-post .entry-content {
        width: 740px;
    }
    .type-post .entry-header {
        position: relative;
        width: 740px;
        margin: 4rem;
        margin-left: 0;
        img {
            width: 740px;
            height: auto;
        }
    }
    .type-post .entry-title {
        position: absolute;
        top: 27px;
        left: 0;
        background: #248a83;
        padding: .8rem 2rem;
        max-width: 73%;
        line-height: 1.2;
        text-transform: uppercase;
        width: 73%;
        font-size: 2rem;
        letter-spacing: 2px;
        font-weight: bold;
        a {
            text-decoration: none;
            color: white;
            &:visited {
                color: white;
            }
            &:hover {
                color: #f0e4d1
            }
        }
    }
    .type-post .entry-meta {
        position: absolute;
        bottom: 8px;
        right: 0;
        background: #248a83;
        padding: .5rem 1.2rem;
        font-family: 'novocento';
        font-size: .9rem;
        line-height: 1;
        text-transform: uppercase;
        color: #fff;
    }
    .type-post .entry-footer {
        text-transform: uppercase;
        a {
            text-decoration: none;
            color: #248a83;
        }
    }
    .cat-links {
        margin-right: 2rem;
    }
}
      a.read-more {
        text-decoration: none;
        border: 1px solid black;
        padding: 10px;
        color: black;
        text-transform: uppercase;
         &:hover{
           background-color:#19625d;
           border: done;
           color: white;
         }
      }