.about-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
}

.about-content {
    height: 600px;
    margin: 0;
    width: 1120px;
    h2 {
        text-transform: uppercase;
        text-align: center;
    }
    p {
        margin: 0;
    }
}
p.p1 {
    font-family: 'merriweatherlight';
    font-size: 1.2rem;
    padding-bottom: 1.2rem;
    line-height: 1.75;
}
p.p3 {
    font-size: 1.2rem;
    line-height: 1.75;
}

.page-template .about-content{
    margin: 3rem auto;
    max-width: 800px;
}
.page-template .container {
    margin-left: auto;
    margin-right: auto;
    width: 1120px;
}
