.about-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
}

/*.about-content {
    height: 600px;
    margin: 0 auto;
    width: 1120px;
    h2 {
        text-transform: uppercase;
        text-align: center;
    }
    p {
        margin: 0 5rem;
    }
}*/

.page-template .about-content{
    margin: 3rem auto;
    max-width: 800px;
}
