.taxonomy-description {
    margin-bottom: 3rem;

    p {
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

.single-product .site-mainhome {
    padding-top: 50px;
    border: none;
    width: 1120px;
}

.single-product .entry-meta {
    display: none;
}
.single-product .product-price {

    font-size: 1.8rem;
}
.single-product .entry-title {
    color: #d99054;
    margin: 0;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 10px;
}


.single-product .entry-header {
    flex-basis: 60%;
    img {
        width: 90%;
    }
}

.single-product .type-product {
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.single-product .entry-content {
    flex-basis: 40%;
    margin: 0;
    p {
        line-height: 1.5;
        font-family: 'merriweatherlight';
        font-size: 1.2rem;
    }
    .price {
        font-size: 1.7rem;
    }
}

.content-areahome{
    padding-left: 8rem;
}

.like-button,
.twitter-button,
.pinterest-button {
    border: 1px solid black;
    margin-bottom: 4rem;
    text-decoration: none;
    color: black;
    font-size: .9rem;
    padding: .6rem 1.5rem;
    margin-top: 4%;
    text-transform: uppercase;
    font-family: 'novecento';
    a {
        font-family: 'novocento';
    }
    &:visited {
        color: black;
    }
    &:hover {
        background-color: #248a83;
        border: 1px solid #248a83;
        color: white;
    }
}
p.product-price {
    font-family: 'novecento';
    font-size: 1.5rem;

}