.taxonomy-description {
    margin-bottom: 3rem;
    border-bottom: 1px dashed #c8c8c8;

    p {
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

.single-product .site-mainhome {
    padding-top: 50px;
    border: none;
    width: 1120px;
}

.single-product .entry-meta {
    display: none;
}
.single-product .product-price {

    font-size: 1.8rem;
}
.single-product .entry-title {
    color: #d99054;
    margin: 0;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 10px;
}


.single-product .entry-header {
    flex-basis: 60%;
    img {
        width: 90%;
    }
}

.single-product .type-product {
    display: flex;
    justify-content: space-between;
}

.single-product .entry-content {
    flex-basis: 40%;
    margin: 0;
    p {
        line-height: 1.5;
    }
    .price {
        font-size: 1.7rem;
    }
}

.content-areahome{
    padding-left: 8rem;
}

/*.single-product .hentry {
    display: flex;
    justify-content: space-between;
}
.entry-content{
    width: 48%;
    line-height: 1.75;
}
.social-button {
    color: #404040;
    font-size: 1rem;
}*/